/* Basic styles */
@import "variables.css";

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

body {
  min-width: min-content;
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  font-family: var(--second-family);
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* Sections styles */
.container {
  position: relative;

  width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.header-section,
.biases-section,
.footer-section {
  position: relative;
  z-index: 0;

  overflow: hidden;
}

.header-section::before,
.biases-section::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

/* Cards styles */
.card-nav-title,
.card-nav-link {
  display: flex;
  flex: 1 1 350px;
  box-sizing: border-box;
}

.card-nav-link {
  padding: 24px;
}

.card-nav-link:hover,
.card-nav-link:hover * {
  color: var(--white);

  background-color: var(--primary);
}

.card-nav-counter {
  font-family: var(--second-family);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: var(--dark);
}

.nav-link {
  color: var(--dark);
  text-decoration: none;
}

/* Flex styles */
.flex-container-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-container-row-reverse {
  display: flex;
  flex-flow: row-reverse nowrap;
}

.flex-container-column {
  display: flex;
  flex-flow: column nowrap;

  width: 540px;
}

.flex-container-nav {
  display: flex;
  flex-flow: row wrap;
  gap: 20px 30px;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.footer-flex-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  text-align: left;
}

.footer-flex-item {
  box-sizing: border-box;
  width: calc((100% / 2) - 15px);
}

/* Headings styles */
.h2-nav {
  font-weight: normal;
  font-size: 52px;
}

.h3-nav {
  font-weight: normal;
  color: var(--primary);
}

.biases-heading {
  padding: 5px 10px;

  font-weight: 700;
  font-size: 14px;
  font-family: inherit;
  line-height: 1.2em;
  text-transform: uppercase;
}

/* Text styles */
.biases-text {
  font-family: var(--second-family);
  line-height: 1.2em;
}

/* Media styles */
.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;
}

.biases-image {
  vertical-align: middle;
}

.video {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
}

.drop-shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* Forms styles */
.email-label {
  display: block;

  font-size: 18px;
}

.email-input {
  box-sizing: border-box;
  width: calc(100% - 70px);
  height: 50px;

  padding: 15px;

  border: 1px solid #e3e3e3;
}

/* Buttons styles */
.button-details {
  display: block;
  padding: 12px 24px;

  width: fit-content;

  font-family: var(--font-family);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button-submit {
  width: 70px;
  height: 50px;

  padding: 0;

  vertical-align: middle;

  border: none;
}

.button-details:hover,
.button-submit:hover {
  background-color: var(--primary-hover);
}

.button-submit::before {
  content: url("../assets/images/send.svg");
}

/* Margins */
.margin-0 {
  margin: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-4 {
  margin-bottom: 4px;
}

.margin-bottom-9 {
  margin-bottom: 9px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-76 {
  margin-bottom: 76px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.margin-bottom-185 {
  margin-bottom: 185px;
}

/* Paddings */
.padding-0 {
  padding: 0;
}

.padding-55 {
  padding: 55px;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-right-55 {
  padding-right: 55px;
}

.padding-bottom-385 {
  padding-bottom: 385px;
}

/* Display styles */
.display-block {
  display: block;
}

/* Column styles */
.column-gap-30 {
  column-gap: 30px;
}

/* Font styles */
.font-weight-400 {
  font-weight: normal;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-34 {
  font-size: 34px;
}

/* Text-align styles */
.align-center {
  text-align: center;
}

/* Text-color styles */
.text-primary {
  color: var(--primary);
}

.text-dark {
  color: var(--dark);
}

.text-dark-50 {
  color: var(--dark-50);
}

.text-white {
  color: var(--white);
}

.text-white-50 {
  color: var(--white-50);
}

.text-brown {
  color: var(--brown);
}

.text-blue {
  color: var(--blue);
}

/* Background color styles */
.background-primary {
  background-color: var(--primary);
}

.background-primary-dark {
  background-color: var(--primary-dark);
}

.background-light {
  background-color: var(--light);
}

.background-brown {
  background-color: var(--brown);
}

.background-white {
  background-color: var(--white);
}
